<section class="home" id="home">
  <div class="group content">
    <div class="col span_3_of_3">
      <div class="intro">
        <div class="emily-thomas">Emily Thomas</div>
        <div class="diamond"></div>
        <div class="diamond"></div>
        <div class="diamond"></div>
        <div class="portfolio-website">
          <div class="triangle-left"></div>
          <div class="triangle-right"></div>
            Portfolio Website
        </div>
        <div class="simply">Simply Designed. Simply Beautiful</div>
      </div>
    </div>
  </div>
</section>
<section class="projects" id="projects">
  <div class="content">
    <h1>Projects</h1>
    <ul class="grid">
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-gatorade-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                Gatorade
              </div>
              <p>Internal web application that monitors real-time social media.</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project_kompilr_sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                Kompilr
              </div>
              <p>Designed a website for Kompilr that uses infographics to visualize your career.</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX HTML CSS
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project_citrix_sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                Citrix
              </div>
              <p>Design the user interface for a sales resource tool</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-horipro-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                Horipo
              </div>
              <p>Characters designs for a phone and tablet application.</p>
              <a href="">View Project</a>
              <div class="role">
                Illustrations
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-cs-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                ColorSoundation
              </div>
              <p>User interface and illustrations for the Color Soundation music education application.</p>
              <a href="">View Project</a>

              <div class="role">
                UI UX Illustration
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-cisco-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                Cisco Systems
              </div>
              <p>Designed the UI and UX for internal online application to generate quarterly reports.</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-sales-reporting-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                BrightScope Beacon Sales Reporting
              </div>
              <p>blah blah blah</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-search-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                BrightScope Beacon Search
              </div>
              <p>Blah blah</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="f1_container">
          <div class="f1_card" class="shadow">
            <div class="front face">
              <img src="assets/project-campaign-sm.png"/>
            </div>
            <div class="back face center">
              <div class="title">
                BrightScope Beacon Campaigns
              </div>
              <p>blah blah</p>
              <a href="">View Project</a>
              <div class="role">
                UI UX
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section class="about" id="about">
  <div class="group content">
    <div class="col span_2_of_3">
      <h1>About</h1>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</section>
<section class="connect">
  <div class="content-img">
    <div class="san-francisco" id="connect">San Francisco</div>
  </div>
  <div class="group content">
    <div class="col span_2_of_3">
      <h1>Connect</h1>
      <p>I'd love to hear from you even if it's just to say hi.</p>
    </div>
    <div class="col span_1_of_3">
      <div class="contact-info">
          <p><span class="contact-labels">A</span> San Francisco, CA</p>
          <p><span class="contact-labels">T</span>  619 - 813 + 7771</p>
          <p><span class="contact-labels">E</span>  emily@emjoydesign.com</p>
      </div>
    </div>
  </div>
</section>