<section class="project_individual">
<div class="prev"><a href="#"></a></div>
<div class="next"><a href="#"></a></div>
<div class="group content">
    <div class="col span_1_of_3">
      <div class="project_description">      
          <h1>Project</h1>
          <h2>Client</h2>
          <p>Cisco Systems</p>
          <h2>Project Role</h2>
          <p>UI/UX Designer</p>
          <h2>Description</h2>
          <p>Teamed up with InfoMotors to create the user interface for an internal online application. Cisco Systems uses the application to generate quarterly reports that are easy to access, share and effortless to read.</p>
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="project_images"> 
          <img src="../assets/project_cisco_01.jpg" alt=""/>
          <img src="../assets/project_cisco_02.jpg" alt=""/>
          <img src="../assets/project_cisco_03.jpg" alt=""/>
          <img src="../assets/project_cisco_04.jpg" alt=""/>
          <img src="../assets/project_cisco_05.jpg" alt=""/>
          <img src="../assets/project_cisco_06.jpg" alt=""/>
          <img src="../assets/project_cisco_07.jpg" alt=""/>
          <img src="../assets/project_cisco_08.jpg" alt=""/>
      </div>
    </div>
</div>
</section>