<section class="project_individual">
  <div class="prev"><a href="kompilr"></a></div>
  <div class="next"><a href="colorsoundation"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h1>Project</h1>
            <h3>Citrix</h3>
            <h2>UI UX</h2>
            <p>Worked with InfoMotors to design the user interface for a sales resource tool. The application generates custom reports based on demographic, geographic, industry type and size.</p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <img src="../assets/project-citrix-01.jpg" alt="citrix"/>
            <img src="../assets/project-citrix-02.jpg" alt="citrix"/>
            <img src="../assets/project-citrix-03.jpg" alt="citrix"/>
            <img src="../assets/project-citrix-04.jpg" alt="citrix"/>
        </div>
      </div>
  </div>
</section>