<section class="project_individual">
<div class="prev"><a href="#"></a></div>
<div class="next"><a href="#"></a></div>
<div class="group content">
    <div class="col span_1_of_3">
      <div class="project_description">      
          <h1>Project</h1>
          <h2>Client</h2>
          <p>Citrix</p>
          <h2>Project Role</h2>
          <p>Lead UI/UX Designer</p>
          <h2>Description</h2>
          <p>Worked with InfoMotors to design the user interface for a sales resource tool. The application generates custom reports based on demographic, geographic, industry type and size.</p>
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="project_images"> 
          <img src="../assets/project_citrix_01.jpg" alt=""/>
          <img src="../assets/project_citrix_02.jpg" alt=""/>
          <img src="../assets/project_citrix_03.jpg" alt=""/>
          <img src="../assets/project_citrix_04.jpg" alt=""/>
      </div>
    </div>
</div>
</section>