<section class="project_individual">
  <div class="prev"><a href="citrix"></a></div>
  <div class="next"><a href="cisco"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h3>Color Soundation</h3>
            <h2>UI Illustrations</h2>
            <p>Designed the user interface and created the illustrations for the Color Soundation music education application. The application is based on the character Hoppy who teaches toddlers the fundamentals of reading music and playing instruments.</p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <%= image_tag "project-cs-01.jpg", :alt => "color soundation", :class => "no-border" %>
            <%= image_tag "project-cs-02.jpg", :alt => "color soundation", :class => "no-border" %>
            <%= image_tag "project-cs-03.jpg", :alt => "color soundation", :class => "no-border" %>
            <%= image_tag "project-cs-04.jpg", :alt => "color soundation", :class => "no-border" %>
        </div>
      </div>
  </div>
</section>