<section class="project_individual">
  <div class="prev"><a href="#"></a></div>
  <div class="next"><a href="#"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h1>Project</h1>
            <h3>Echo Sign</h3>
            <h2>UI/UX Design</h2>
            <p>Improve the user interface for the Echo Signs's e-sign application.</p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <img src="../assets/project_echo_sign_02.jpg" alt=""/>
            <img src="../assets/project_echo_sign_01.jpg" alt=""/>
        </div>
      </div>
  </div>
</section>