<section class="project_individual">
<div class="prev"><a href="#"></a></div>
<div class="next"><a href="#"></a></div>
<div class="group content">
    <div class="col span_1_of_3">
      <div class="project_description">      
          <h1>Project</h1>
          <h2>Client</h2>
          <p>Echo Sign</p>
          <h2>Project Role</h2>
          <p>UI/UX Design</p>
          <h2>Description</h2>
          <p>Improve the user interface for the Echo Signs's e-sign application.</p>
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="project_images"> 
          <img src="../assets/project_echo_sign_02.jpg" alt=""/>
          <img src="../assets/project_echo_sign_01.jpg" alt=""/>
      </div>
    </div>
</div>
</section>