<section class="project_individual">
  <div class="prev"><a href="#"></a></div>
  <div class="next"><a href="#"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h3>Echo Sign</h3>
            <h2>UI/UX Design</h2>
            <p>Improve the user interface for the Echo Signs's e-sign application.</p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <%= image_tag "project-echo-sign-02.jpg", :alt => "echo sign" %>
            <%= image_tag "project-echo-sign-01.jpg", :alt => "echo sign" %>
        </div>
      </div>
  </div>
</section>