<section class="project_individual">
<div class="prev"><a href="#"></a></div>
<div class="next"><a href="#"></a></div>
<div class="group content">
    <div class="col span_1_of_3">
      <div class="project_description">      
          <h1>Project</h1>
          <h2>Client</h2>
          <p>Kompilr</p>
          <h2>Project Role</h2>
          <p>UI/UX Design, HTML, CSS</p>
          <h2>Description</h2>
          <p>Designed a website for Kompilr.com. The website pulls your career information from linkedin and generates infographics to visualize your career.</p>
          <a href="http://kompilr.com">View Website</a>
      </div>
    </div>
    <div class="col span_2_of_3">
      <div class="project_images"> 
          <img src="../assets/project_kompilr_01.jpg" alt=""/>
          <img src="../assets/project_kompilr_02.jpg" alt=""/>
          <img src="../assets/project_kompilr_03.jpg" alt=""/>
      </div>
    </div>
</div>
</section>