<section class="project_individual">
  <div class="prev"><a href="gatorade"></a></div>
  <div class="next"><a href="citrix"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h1>Project</h1>
            <h3>Kompilr</h3>
            <h2>UI UX HTML CSS</h2>
            <p>Designed a website for Kompilr.com. The website pulls your career information from linkedin and generates infographics to visualize your career.</p>
            <a href="http://kompilr.com" target="_blank" class="btn">View Website</a>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <img src="../assets/project-kompilr-01.jpg" alt="kompilr"/>
            <img src="../assets/project-kompilr-02.jpg" alt="kompil"/>
            <img src="../assets/project-kompilr-03.jpg" alt="kompil"/>
        </div>
      </div>
  </div>
</section>