<section class="project_individual">
  <div class="prev"><a href="campaigns"></a></div>
  <div class="next"><a href="gatorade"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h3>Beacon Redesign</h3>
            <h2>UI UX</h2>
            <p>
              While at BrightScope redesigned and improved the user experience for Beacon, a financial analytics tool.
            </p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <%= image_tag "project-search-01.png", :alt => "search" %>
        </div>
        <div class="small">
          <div class="next2"><a href="gatorade">Next</a></div>
          <div class="prev2"><a href="campagins">Prev</a></div>
        </div>
      </div>
  </div>
</section>