<section class="project_individual">
  <div class="prev"><a href="campaigns"></a></div>
  <div class="next"><a href="gatorade"></a></div>
  <div class="group content">
      <div class="col span_1_of_3">
        <div class="project_description">      
            <h1>Project</h1>
            <h3>Beacon Redesign</h3>
            <h2>UI UX</h2>
            <p>
              While at BrightScope redesigned and improved the user expereice for Beacon, a financial analytics tool.
            </p>
        </div>
      </div>
      <div class="col span_2_of_3">
        <div class="project_images"> 
            <img src="../assets/project-search-01.png" alt="seacrh"/>
        </div>
      </div>
  </div>
</section>