@import 'variables';
@import 'mixins';

.home {
  font-family: $font-stack-sec;
  background: image-url("main-banner.png") no-repeat #efefe8 0 0;
  height: 38em;
  background-position: center -7px;

  .intro {
    width: 80%;
    text-align: center;
    margin: 0 auto;

    .emily-thomas {
      font-family: $font-stack-sec;
      color: $secondary-color;
      font-size: 3.125em;
      padding: 5.8em 0 0 0;
      line-height: 1em;
      font-weight: 200;
      text-transform: uppercase; 
    }
    .tagline {
      font-size: 14px;
      line-height: 1.4em;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #999;
      padding-top: 10px;
    }
    .designer {
      font-family: $font-stack;
      font-size: 1.5em;
      line-height: 6em;
      color: $red;
      font-weight: light;
    }
  }
}


@media only screen and (max-width: 768px){
  .home {
    height: 28em;
    background-position: center -30px;
    background-size: 36em;

    .intro {

      .emily-thomas {
        font-size: 2.7em;
        padding: 4.7em 0 0 0;
      }
      .designer {
        font-size: 1.5em;
        line-height: 5em;
      }
    }
  }
}

@media only screen and (max-width: 460px){
  .home {
    height: 20em;
    background-position: center 0;
    background-size: 24em;

    .intro {

      .emily-thomas {
        font-size: 2.2em;
        padding: 2.7em 0 0 0;
      }
      .designer {
        font-size: 1.3em;
        line-height: 3.7em;
      }
    }
  }
}
