@import 'variables';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin active {
  border-bottom: 1px solid #333;
}

@mixin perspective($perspective) {
  -webkit-perspective: $perspective; /* Safari and Chrome */
          perspective: $perspective;
}

@mixin transform {
          transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; /* Safari and Chrome */
               transition: all 0.25s linear;
       -webkit-transition: width all 0.25s linear; /* Safari */
}

@mixin backface-visibility($hidden) {
  -webkit-backface-visibility: $hidden; /* Chrome and Safari */
     -moz-backface-visibility: $hidden; /* Firefox */
      -ms-backface-visibility: $hidden; /* Internet Explorer */
          backface-visibility: $hidden;
}

@mixin transform-rotate {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@mixin box-sizing {
  -moz-box-sizing: border-box; /* Firefox */
       box-sizing: border-box;
}
