$font-stack: 'KievitSlabWebPro', georgia, serif;
$font-stack-sec: 'BreviaRegular', helvetica, san-serif;
$primary-color: #4d4d4d;
$secondary-color: #4d4d4d;
$third-color: #999;
$line-height:1.5em;
$blue: #92d7dd;
$blue-hover: #87cfd5;
$red: #d76262;
$fsize: 1.125em; /* 18 / 16px */