$font-stack: 'ITC Charter', georgia, serif;
$font-stack-sec: 'Karla', helvetica, san-serif;
$primary-color: #333;
$line-height:1.5em;
$secondary-color: #999;
$blue: #9fe1e7;
$blue-hover: #94d1d7;
$fsize: 16px;


